html, body {
    height: 100%;
}


h1, h2, h3, h4 {
	font-family: 'Roboto Slab';
}

h2.section-heading {
	margin: 0px 0px 50px 0px;
}

p {
	font-family: 'Open Sans';
	font-size: 14pt;
}

header {
	position: relative;
	width: 100%;
	/* min-height: auto;*/
	height: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	background-position: center;
	background-image: url(../img/bigMapLight.jpg);
	text-align: center;
	color: #373737;
}

header .header-content {
	position: relative;
	text-align: center;
	padding: 100px 15px 100px;
	width: 100%;
}

section {
	padding: 80px 0;
}

.light {
	background-color: #e4e5e6;
	color: #222;
}

.dark {
	background-color: #373737;
	color: white;
}

.vcenter {
    vertical-align: middle;
}

div.listing-image {

	height: 360px;
	overflow: hidden;
}

/* carousel */
a.carousel-control {
	background-image: none !important;
}

ol.carousel-indicators {
	position: relative;
}

/* maps */
div#map {
	
}

img.static-map {
	width: 240px;
	height: 240px;
	background: orange;
	float: right;
}
