html, body {
    height: 100%;
}


h1, h2, h3, h4 {
	font-family: 'Roboto Slab';
}

h2.section-heading {
	margin: 0px 0px 50px 0px;
}

p {
	font-family: 'Open Sans';
	font-size: 14pt;
}

header {
	position: relative;
	width: 100%;
	/* min-height: auto;*/
	height: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	background-position: center;
	background-image: url(../img/coach_handbag.jpg);
	background-color: gray;
	text-align: center;
	color: #373737;
}

header .header-content {
	position: absolute;
	text-align: left;
	top: 200px;
	left: 50%;
	bottom: 0px;
	right: 0px;
}

section {
	padding: 80px 0;
}

.btn {
	border: none;
	border-radius: 300px;
}

.light {
	background-color: #e4e5e6;
	color: #222;
}

.dark {
	background-color: #373737;
	color: white;
}

.vcenter {
    vertical-align: middle;
}

div.listing-image {

	height: 360px;
	overflow: hidden;
}

/* carousel */

a.carousel-control {
	background-image: none !important;
}

@media (min-width: 768px) {
	div.carousel {
		padding: 0px 60px;
	}

	a.carousel-control {
		background-image: none !important;
		width: 60px;
	}
}

ol.carousel-indicators {
	position: relative;
}

div.profile {
	background: #e4e5e6;
	margin: 15px 0px;
	padding: 5px;
	border-radius: 8px;
	height: 580px;
	color: #373737;
	text-align: center;
}

div.profile img {
	width: 180px;
	height: 180px;
	border-radius: 90px;
}

div.profile ul {
	text-align: left;
	list-style: square;
}

/* maps */
div#map {
	
}

img.static-map {
	width: 240px;
	height: 240px;
	background: orange;
	float: right;
}
